.btn{
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 10px;
    font-weight: 800;
}
.btn--primary{
    background-color: rgb(85, 88, 237);
}
.btn--secondary{
    background-color: rgb(80, 82, 84);
}
.btn--small{
    font-size: 14px;
    padding: 10px 10px;
    margin-right: 10px;
}
.btn--medium{
    font-size: 14px;
    padding: 13px 10px;
}